
.account-form-wrapper {
    padding: 1em 0;
  }
  
  .account-form {
    padding: 40px 40px;
    background-image: linear-gradient(135deg, #d8c9a365 10%, #9b9595c9 100%);
    border-radius: 2em;
    max-width: 500px;
    background-repeat: no-repeat;

  }
  
  .account-form textarea {
    resize: none;
  }
  
  .account-form .form-input,
  .form-text-area {
    border-radius: 4em;
    height: 50px;
    padding-left: 16px;
  }
     
  .btn-grad {
    background-image: linear-gradient(to right, #9b96759c 0%, #dbc37e  51%, #9d9b96  100%);
 
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px rgba(238, 238, 238, 0.564);
    border-radius: 10px;

  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  .login{
    background-position: 89rem;
    background-size: 155em;
    height: 37em;
  }

  


  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
.p{
    text-align: center;
  }
 
 
 