<br>

<h2><p style="text-align: center;">Welcome to the admin</p></h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <h1><p style="text-align: center;">Login Admin </p></h1>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" ngModel class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" class="form-control">
  </div>
  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
</form>

