 
  <div class="clearfix">
  </div>
<div class="khung-chua-san-pham">
  <div class="section">
    <p class="section-head">SẢN PHẨM NỔI BẬT</p>
    <br>
    <div class="product-box"*ngFor="let product of productList">
      <a class="box" href="">
        <div class="hinh-sp">
          <div style="background-image: url({{product.image_url}})" class="hinh"></div>
        </div>
        <p >{{product.name}}</p>
        <p> <a routerLink="product/{{product.id}}" class="btn btn-outline-dark mt-auto">Xem Chi Tiết</a></p>
        <p class="gia-tien">{{product.price}}</p>
        <div class="them-vao-gio-hang"><a class="them" href="#">Thêm vào Giỏ Hàng <img class="icon-cart" src="image/icon-cart.png"></a></div>
      </a>
    </div>
    <div class="product-box">
      <a class="box" href="">
        <div class="hinh-sp">
          <div style="background-image: url(image/huawei-nova-3e-2-400x400.jpg)" class="hinh"></div>
        </div>
        <p class="ten-sp"> </p>
        <p class="gia-tien">2.000.000<span style="font-size: 14px">đ</span><span class="gia-cu">5.000.000<span style="font-size: 14px">đ</span></span></p>
        <div class="them-vao-gio-hang"><a class="them" href="#">Thêm vào Giỏ Hàng <img class="icon-cart" src="image/icon-cart.png"></a></div>
      </a>
    </div>
    <div class="product-box">
      <a class="box" href="thong-tin-sp.html">
        <div class="hinh-sp">
          <div style="background-image: url(image/huawei-nova-3i-den-chipu-1-400x400.jpg)" class="hinh"></div>
        </div>
        <p class="ten-sp">Iphone XS</p>
        <p class="gia-tien">2.000.000<span style="font-size: 14px">đ</span><span class="gia-cu">5.000.000<span style="font-size: 14px">đ</span></span></p>
        <div class="them-vao-gio-hang"><a class="them" href="#">Thêm vào Giỏ Hàng <img class="icon-cart" src="image/icon-cart.png"></a></div>
      </a>
    </div>
    <div class="product-box">
      <a class="box" href="thong-tin-sp.html">
        <div class="hinh-sp">
          <div style="background-image: url(image/huawei-p20-pro-2-600x600-600x600-400x400.jpg)" class="hinh"></div>
        </div>
        <p class="ten-sp">Iphone XS</p>
        <p class="gia-tien">2.000.000<span style="font-size: 14px">đ</span><span class="gia-cu">5.000.000<span style="font-size: 14px">đ</span></span></p>
        <div class="them-vao-gio-hang"><a class="them" href="#">Thêm vào Giỏ Hàng <img class="icon-cart" src="image/icon-cart.png"></a></div>
      </a>
    </div>
    <div class="product-box">
      <a class="box" href="thong-tin-sp.html">
        <div class="hinh-sp">
          <div style="background-image: url(image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
        </div>
        <p class="ten-sp">Iphone XS</p>
        <p class="gia-tien">2.000.000<span style="font-size: 14px">đ</span><span class="gia-cu">5.000.000<span style="font-size: 14px">đ</span></span></p>
        <div class="them-vao-gio-hang"><a class="them" href="#">Thêm vào Giỏ Hàng <img class="icon-cart" src="image/icon-cart.png"></a></div>
      </a>
    </div>
    <div class="product-box">
      <a class="box" href="thong-tin-sp.html">
        <div class="hinh-sp">
          <div style="background-image: url(image/huawei-nova-3-2-400x400.jpg)" class="hinh"></div>
        </div>
        <p class="ten-sp">Iphone XS</p>
        <p class="gia-tien">2.000.000<span style="font-size: 14px">đ</span><span class="gia-cu">5.000.000<span style="font-size: 14px">đ</span></span></p>
        <div class="them-vao-gio-hang"><a class="them" href="#">Thêm vào Giỏ Hàng <img class="icon-cart" src="image/icon-cart.png"></a></div>
      </a>
    </div>
    <div class="product-box">
      <a class="box" href="thong-tin-sp.html">
        <div class="hinh-sp">
          <div style="background-image: url(image/huawei-nova-3-2-400x400.jpg)" class="hinh"></div>
        </div>
        <p class="ten-sp">Iphone XS</p>
        <p class="gia-tien">2.000.000<span style="font-size: 14px">đ</span><span class="gia-cu">5.000.000<span style="font-size: 14px">đ</span></span></p>
        <div class="them-vao-gio-hang"><a class="them" href="#">Thêm vào Giỏ Hàng <img class="icon-cart" src="image/icon-cart.png"></a></div>
      </a>
    </div>
    <div class="product-box">
      <a class="box" href="thong-tin-sp.html">
        <div class="hinh-sp">
          <div style="background-image: url(image/huawei-nova-3-2-400x400.jpg)" class="hinh"></div>
        </div>
        <p class="ten-sp">Iphone XS</p>
        <p class="gia-tien">2.000.000<span style="font-size: 14px">đ</span><span class="gia-cu">5.000.000<span style="font-size: 14px">đ</span></span></p>
        <div class="them-vao-gio-hang"><a class="them" href="#">Thêm vào Giỏ Hàng <img class="icon-cart" src="image/icon-cart.png"></a></div>
      </a>
    </div>
  </div>





