.banner{
	height: 310px;
	width: 1200px;
	 background: url(https://wscdn.vn/upload/original-image/banner-dan-van-phong.jpeg?size=1920x512&fomat=webp); 
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-top: 10px;
}
body{
	font-family: 'Roboto';
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: white;
	min-width: 1120px;
}
.clear{
	clear: both;
}
.fixed-top {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:1000;
}
.container{
	width: 100%;
	margin: 0 auto;
}
@media(min-width:1220px){
	.container{
		width: 90%;
		margin: 0 auto;
	}
}
.ok:hover{
	background: white;
	color: black;
}
.no:hover{
	background: white;
	color: black;
}
.clearfix{
	clear: both;
}
.breadcrumb{
	padding: 5px;
	margin:0 40px 0 40px;
	border-bottom: 2px double rgba(184,184,184,1.00);
	box-shadow: 1px 2px 5px black;
	border-radius: 10px;
	
  display: none;
	
}
.breadcrumb .hien-tai{
	padding-left: 10px;
	font-size: 18px;
	font-weight: 500;
	color:rgba(28,172,161,1.00);
}
.breadcrumb .truoc-do{
	padding-left: 10px;
	font-size: 18px;
	font-weight: 500;
	color:rgba(28,172,161,1.00);
	text-decoration: none;
	word-spacing: 5px;
	transition: all 0.3s ease;
}
.breadcrumb .truoc-do:hover{
	text-decoration: underline;
}

.footer{
	clear: both;
	width: 100%;
	height: 200px;
	background-color: antiquewhite;
}
form{
	padding-bottom: 50px;
}
form > *{
	display: block;
	margin: auto;
	margin-top: 10px;
}
form p,a{
	text-align: center;
}
form .title{
	font-size: 18px;
}
form input{
	padding: 10px;
	width: 30%;
}
form button{
	padding: 10px;
	background: white;
	color: black;
	border: 1px solid gray;
}
form a{
	padding: 10px;
	background: white;
	color: black;
	border: 1px solid gray;
  width: 70px;
	text-decoration: none;
}
form button:hover{
	box-shadow: 2px 2px 5px black;
}
form a:hover{
	box-shadow: 2px 2px 5px black;
}
form textarea{
  width: 30%;
	padding: 10px;
	height:100px;
}
#icon-mobile {
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.menu-ben-trai {
  float: left;
}

.menu-ben-trai li {
  list-style: none;
}

.menu-ben-trai a {
  display: block;
  padding: 7px 30px 7px 5px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgb(110, 110, 110);
  text-align: left;
}

.menu-ben-trai a:hover {
  box-shadow: 2px 2px 5px black;
}

.menu-ben-trai .title {
	color: white;
  padding: 7px 15px 7px 15px;
  font-size: 20px;
  text-align: center;
	background: linear-gradient(to right,#003e52,#1895b0);
	border-radius: 7px;
}

.menu-ben-trai ul {
  padding: 0;
}
/* CSS Document */
.search{
	float: right;
	margin: 30px 60px 0 0;
}
.search-button {
	padding: 12px;
	border: 0;
	background: rgb(254, 162, 39);
	border-radius: 0 8px 8px 0;
	text-decoration: none;
	margin-left: -62px;
	color: white;
}
.search-box{
	padding: 10px;
	border:0;
	border-radius: 8px 0 0  8px;
	width: 300px;
	text-indent: 10px;
	border-bottom: 1px solid white;
}
.header{
	padding: 70px 0 0 0;
	background: linear-gradient(#003e52,#1895b0);
	background-color: #EEEEEE;
	vertical-align: middle;
	border-radius: 0 0 15px 15px;
	position: relative;
	min-width: 800px;
}

.nav li{
	display: inline-block;
}

.nav{
	background-color:rgba(4,78,99,1.00);
	color: white;
	padding-bottom: 10px;
	padding-top: 25px;
	border-radius: 0 0 15px 15px;
	box-shadow: 2px 2px 10px black;
	min-width: 800px; 	
}
.nav .list-left{
	float: left;
	margin: 0;
}
.nav .list-right{
	float: right;
	margin: 0;
	margin-right: 20px
}
.list-left li{
	margin-right: 10px;
}
.list-right li{
	margin-right: 10px;
}
.nav a{
	color:rgba(211,211,211,1.00);
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.nav a:hover{
	color:white;
	background-color:#117C95 ;
	border-radius: 5px;
	transition: all 0.2s linear;
}
.logo {
	margin-left: 40px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 13px;
}
.nav .a-light {
	color: white;
}
.nav .dang-ky {
	margin-left: 0px;
}
.nav .dang-nhap{
	margin-right: 0;
}


.ten-cua-hang{
	font-family: 'Satisfy';
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin-left: 20px;
	margin-top:30px ;
	text-shadow: 3px 3px 5px black;
}
.product-box{
	width: 210px;
	height: 329px;
	margin: 2px;
	border: 1px solid rgba(224,224,224,1.00); 
	float: left;
	transition: 0.3s;
}
.box:hover .hinh{
	position: absolute;
	top: 5px;
}


.box:hover .ten-sp{
	color: blue;
}
.product-box a{
	text-decoration: none;
}
.hinh-sp{
	height: 230px;
	width: 210px;
	position: relative;
}
.ten-sp{
	text-align: left;
	margin: 0;
	padding: 5px 0 0 10px;
	font-size: 17px;
	color: black;
}
.gia-tien{
	margin: 0;
	padding: 0px 0 0 10px;
	font-size: 18px;
	color: red;
}
.gia-cu{
	font-size: 12px;
	margin-left: 10px;
	text-decoration: line-through;
}
.icon-cart{
	height: 16px;
	width: 16px;
}
.them-vao-gio-hang{
	text-align: right;
	padding-top: 15px;
}
.them{
	font-size: 12px;
	padding: 8px 5px 5px 7px;
	color:rgba(126,126,126,1.00);
	border: 1px solid rgba(224,224,224,1.00);
	border-radius: 10px;
	margin-right: 5px;
}
.them:hover{
	box-shadow: 2px 2px 5px black;
	border-radius: 10px;
	transition: 0.3s;
}
.hinh{
	background-position:center;
	background-repeat: no-repeat;
	background-size:contain;
	position: absolute;
	top: 20px;
	height: 210px;
	width: 210px;
	transition: 0.3s;
}
.box:hover .chi-tiet{
	color: blue;
	transition:0.3s;
}
.danh-muc-san-pham{
	font-size: 18px;
	font-weight: 500;
	padding: 10px 5px 8px 5px;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 10px;
	background: linear-gradient(to right,#003e52,#1895b0);
	color: white;
	
}

.right-content{
	float: left;
	border:1px solid rgba(152,152,152,1.00);
	width: 180px;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	background-color: white;
}
.right-content a{
	text-decoration: none;
	color: black;
	display: block;
	padding: 5px;
	border-bottom: 2px solid rgba(152,152,152,1.00);
	border-left: 1px solid rgba(152,152,152,1.00);
}
.right-content a:hover{
	color:white;
	background: linear-gradient(to left,#003e52,#22C5E8);
	transition: 0.07s linear;
	border-radius: 8px;
}
#icon-mobile{
	height: 16px;
	width: 16px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	color: white;
}
.section{
	display: inline-block;
	height: auto;
	width: auto;
	background-color: white;
}
.section-head{
	margin: 0;
	font-size: 22px;
	border: 1px solid rgba(191,191,191,1.00);
	margin-left: 280px;
	padding-top: 8px;
	width: 300px;
	padding-bottom: 5px;
	text-indent: 30px;
	background: linear-gradient(to right,#003e52,#1895b0);
	color: white;
	border-radius: 8px;
}
.khung-chua-san-pham{
	top: 20px;
	left: 20px;
	/* float: left; */
	display: inline-block;
	width: 804px;
	min-width: 874px;
}
footer {
  background-color: #f2f2f2;
  padding: 30px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  flex-basis: 30%;
  padding: 0 20px;
}

.column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column a {
  color: #555;	
  text-decoration: none;
}

.column a:hover {
  color: #007bff;
}




.cart-icon {
	position: relative;
	display: inline-block;
  }
  
  .cart-icon img {
	width: 24px;
	height: 24px;
  }
  
  .cart-count {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: red;
	color: white;
	font-size: 12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
  }


