.small-img{
    cursor: pointer;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .product > mat-card > a >img{
  /* object-fit: contain; */
  height: 155px;
  margin-bottom: 10px;
  }
  
  .product > mat-card{
  display: inline-block;
  min-height: 300px;
  width: 235px;
  align-items: center;
  text-align: center;
  margin: 15px;
  border-radius: 10px;
  margin-left: 30px;
  padding-left: px;
  }
  
  .product .Add-to-cart{
    margin-top: 20px;
    
    cursor: pointer;
  }
  
  .product:hover{
    cursor: pointer;
  }
  
  .btn{
  
  margin: 0px 10px;
  
  }
  
  #plus{
  padding-top: 3px;
  border-radius: 3px;
  }
  
  #minus{
    padding-top: 3.3px;
    border-radius: 3px;
    padding-right: 6px;
  
  }
  .product>mat-card:hover{
  background-color: #88888829;
  }
  
  .wishlist{
    margin-left: 90%;
    font-size: 130%;
    opacity: 90%;
    border: none;
    cursor: pointer;
    color: rgb(178, 67, 67);
  }
  
  .product .Add-to-cart1{
    margin-top: 20px;
    background-color: rgba(158, 231, 109, 0.979);
    opacity: 99%;
    border: 1.5px solid;
    padding: 8px;
    border-radius: 3px;
    border-color: rgb(0, 152, 0);
    color: #100b0b8a;
  }
  
  .product .Add-to-cart1 i{
    color: rgb(62, 144, 10);
    font-size: 15px;
  padding-right: 3px;
  }
  
  
  
   .product> mat-card>a>img:hover{
    transform:translate(5px,50px)rotate(8deg) scale(1.7);
  
  }
  
   
        @media screen and (max-width: 768px){
          .products .card{
            
            width: 11em;
            box-shadow: -0.2em -0.2em 2em 2px rgb(230, 229, 229),
            0.2em 0.2em 1.5em 3px rgb(214, 214, 214);
              
             
              
            }
          }
          @media screen and (max-width: 435px){
            .products .card{
              
              width: 13em;
              box-shadow: -0.2em -0.2em 2em 2px rgb(230, 229, 229),
              0.2em 0.2em 1.5em 3px rgb(214, 214, 214);
                
               
                
              }
            }
.confirmbtn{
    border: 2px rgb(106, 85, 46) solid;color:rgb(105, 77, 24);
}

.confirmbtn:hover{
    border: 2px rgb(106, 85, 46) solid;color:rgb(255, 255, 255);
    background-color:  rgb(142, 112, 58);
}