footer {
    background-color:black;
    color:black;
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex-basis: 25%;
  }
  
  .footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: black;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }