
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->

    
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(89, 65, 21, 0.2);">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Về DHP Shop</h3>
        <ul>
          <li><a href="#">Giới thiệu công ty</a></li>
          <li><a href="#">Phản ánh - Khiếu nại </a></li>
          <li><a href="#">Chứng nhận đại lý</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3> CHÍNH SÁCH CHUNG</h3>
        <ul>
          <li><a href="#">Điều khoản thanh toán</a></li>
          <li><a href="#">Chính sách bảo hành</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>CỬA HÀNG HUẾ</h3>
        <ul>
          <li><a href="#">174 Trần Phú Phước Vĩnh Huế</a></li>
          <li><a href="#">202 Trần Phú Phước Vĩnh Huế</a></li>
          <li><a href="#">18 Đăng Huy Trứ Phước Vĩnh Huế</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>LIÊN HỆ HỖ TRỢ</h3>
        <ul>
          <li><a href="#">Hotline 1: 093.189.2222</a></li>
          <li><a href="#">Hotline 2: 097.189.3333</a></li>
          <li><a href="#">Email: info@watchstore.vn</a></li>
        </ul>
      </div>
    </div>
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <a class="text-dark" href="#">DHP-Shop.com</a>
  </div>
  <!-- Copyright -->
</footer>