table{
    color: black;
    border-collapse: collapse;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1px solid black;
    padding: 15px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
    margin-right: 10px;
}